.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.chatThread {
    border: 1px solid rgba(188, 201, 213, 0.31);
    min-height: 70vh;
    border-radius: 6px;
    padding: 10px;
    overflow-y: scroll;
    max-height: 70vh;
    box-shadow: 0 5px 6px -6px #777;
}

.chatInput {
    border: 1px solid rgba(188, 201, 213, 0.31);
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px #777;
    padding: 8px;
}